/* Fundo preto */
body {
    background-color: #000000;
    color: #000;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Faixa superior */
.header {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 139, 0.7); /* Sombra azul escuro */
}

.profile-pic {
    width: 80px;
    height: 80px;
    background-image: url('foto/minha-foto.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 139, 0.7);
}

h1 {
    color: #00008b;
    margin: 0;
}

.social-links a {
    color: #00008b;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #1E90FF; /* Tom mais claro para hover */
}

/* Corpo do currículo */
.container {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.content {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}

h2 {
    color: #00008b;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Responsividade */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    .social-links a {
        font-size: 1em;
        margin: 5px 0;
    }
}
